* {
  box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
    margin: 0;
    min-height: 100vh;
    min-width: 1440px;
    padding: 0;
    font-family: "Outfit", "Arial", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.code-qr {
    max-width: 322px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #000000;
    margin: 213px auto;
    padding: 16px 16px 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.code-qr__img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    box-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 24px;
}

.code-qr__title {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #1F314F;
}

.code-qr__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778D;
    margin: 0;
}